<template>
    <section class="section companies">
        <div class="section__title companies__title" data-gsap="split-message">{{ portfolio.title }}</div>
        <div class="companies__label">{{ portfolio.label }}</div>
        <div class="swiper-container companies__container">
            <ul class="swiper-wrapper companies__list">
                <li class="swiper-slide companies__item" v-for="industry of industries">
                    <video :src="`${strapiUploadUrl}${industry.video.url}`" class="companies__video" muted autoplay
                           playsinline loop></video>
                    <div class="companies__wrapper">
                        <div class="companies__header">
                            <div class="companies__select">
                                <div class="companies__name">{{ industry.name }}</div>
                                <div class="companies__arrow-small"></div>
                                <div class="companies__options">
                                    <div class="companies__anchor" :data-slide="index"
                                         v-for="(index, anchor) of industries">{{ anchor.name }}
                                    </div>
                                </div>
                            </div>
                            <div class="companies__desc">{{ industry.description }}</div>
                        </div>
                        <div class="companies__body" v-if="industry.partner">
                            <img :src="`${strapiUploadUrl}${industry.partner.logo.url}`" alt=""
                                 class="companies__logo">
                            <a :href="industry.partner.link.url" :target="industry.partner.link.target"
                               class="section__link companies__link">Visit site</a>
                            <div class="companies__content">
                                <p class="companies__p" v-for="paragraph of industry.partner.description">
                                    {{ paragraph.text }}
                                </p>
                            </div>
                        </div>
                        <div class="companies__nav">
                            <div class="companies__button companies__button--up"></div>
                            <div class="companies__button companies__button--down"></div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="companies__nav">
                <div class="companies__button companies__button--up"></div>
                <div class="companies__pagination">
                    <div class="companies__anchor" :data-slide="index" v-for="(anchor, index) of industries">
                        {{ anchor.name }}
                    </div>
                </div>
                <div class="companies__button companies__button--down"></div>
            </div>
        </div>
        <link
            rel="stylesheet"
            href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
        />
    </section>
</template>

<script>
export default {
    props: ['industries', 'portfolio'],
    computed: {
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        }
    },
    mounted() {

        function messageSplits() {
            gsap.utils.toArray('[data-gsap="split-message"]').forEach(el => {
                gsap.from(SplitText.create(el, { type: "words, chars" }).chars, {
                    opacity: 0,
                    y: '15%',
                    transformOrigin: "100% 50%",
                    stagger: 0.1,
                    scrollTrigger: {
                        trigger: el,
                        start: "top 90%",
                        once: true
                    }
                });
            });
        }

        messageSplits();

    }
}
</script>
