<template>
    <div class="section cookies" v-if="!getToken && show">
        <div class="cookies__content">
            This site uses cookies. By continuing to browse the site, you are agreeing to our use of cookies.
        </div>
        <div class="cookies__button" @click="storeToken">Accept</div>
        <div class="cookies__close" @click="close"></div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            show: true
        }
    },
    methods: {
        storeToken() {
            this.$cookies.set("gmt", "enable", {
                maxAge: 60 * 60 * 24 * 7 * 365
            });
            this.show = false;
            this.$gtm.init('GTM-P9QHNVB');
        },
        close() {
            this.$cookies.set("gmt", "enable", {
                maxAge: 60 * 60 * 24 * 7
            });
            this.show = false;
        },
    },
    computed: {
        getToken() {
            return this.$cookies.get("gmt");
        }
    }
}
</script>
