<template>
    <section class="section footer">
        <div class="footer__header">
            <a href="/" class="footer__logo"></a>
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li class="footer__item">
                        <nuxt-link to="/" class="footer__link">Home</nuxt-link>
                    </li>
                    <li class="footer__item footer__item--news">
                        <nuxt-link to="/news" class="footer__link">News</nuxt-link>
                    </li>
                    <li class="footer__item">
                        <nuxt-link to="/about" class="footer__link">About</nuxt-link>
                    </li>

                    <li class="footer__item footer__item--contacts">
                        <nuxt-link to="/contacts" class="footer__link">Contacts</nuxt-link>
                    </li>
                    <li class="footer__item">
                        <nuxt-link to="/portfolio" class="footer__link">Portfolio</nuxt-link>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer__container">
            <div class="footer__block footer__address">
                <strong class="footer__strong">{{ setting.contacts[0].name }}</strong>
                {{ setting.contacts[0].address }}
            </div>
            <div class="footer__block footer__contacts">
                <a class="footer__href" :href="`tel:${setting.contacts[0].phone}`">{{ setting.contacts[0].phone }}</a>
                <a class="footer__href" :href="`mailto:${setting.contacts[0].email}`">{{
                        setting.contacts[0].email
                    }}</a>
            </div>
            <div class="footer__block footer__info">
                {{ setting.legal }}
            </div>
            <a :href="setting.linkedin" target="_blank" class="footer__linkedin"></a>
        </div>
        <div class="footer__vault">
            <div class="footer__docs">
                <a
                    :href="`${strapiUploadUrl}${document.file.url}`"
                    target="_blank"
                    class="footer__download"
                    v-for="document of setting.documents"
                >{{ document.name }}</a>
            </div>
            <div class="footer__about">
                <div class="footer__copyright">{{ setting.copyright }}</div>
                <div class="footer__created">
                    <a href="https://once.agency" class="footer__agency" target="_blank">design & Development by <span
                        class="footer__once"></span></a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    computed: {
        setting() {
            return this.$store.getters.setting;
        },
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        },
    }
}
</script>
