<template>
    <header class="section header">
        <a href="/" class="header__logo"></a>
        <Nav :navItems="navItems"/>
        <div class="header__container">
            <img v-if="header.background.ext != '.mp4'" :src="`${strapiUploadUrl}${header.background.url}`" class="header__img">
            <video class="header__video" muted autoplay playsinline loop preload="auto" v-else>
                <source :src="`${strapiUploadUrl}${header.background.url}`" type="video/mp4">
            </video>
            <div class="header__mask">
                <div class="header__tagline" v-if="page !== 'post'">{{ header.title }}</div>
            </div>
            <div class="header__mask">
                <div class="header__tagline" v-if="page !== 'post'">{{ header.title }}</div>
            </div>
        </div>
    </header>
</template>

<script>
export default {
    props: {
        page: {
            type: String,
            default: 'index'
        }
    },
    data() {
        return {
            navItems: [
                {
                    name: 'Home',
                    link: '/',
                    itemClassName: 'nav__item nav__item--home',
                    linkClassName: 'nav__link nav__link--home'
                },
                {
                    name: 'About',
                    link: '/about',
                    itemClassName: 'nav__item',
                    linkClassName: 'nav__link'
                },
                {
                    name: 'Portfolio',
                    link: '/portfolio',
                    itemClassName: 'nav__item',
                    linkClassName: 'nav__link'
                },
                {
                    name: '',
                    link: '/',
                    itemClassName: 'nav__item nav__item--logo',
                    linkClassName: 'nav__logo'
                },
                {
                    name: 'News',
                    link: '/news',
                    itemClassName: 'nav__item',
                    linkClassName: 'nav__link'
                },
                {
                    name: 'Contacts',
                    link: '/contacts',
                    itemClassName: 'nav__item',
                    linkClassName: 'nav__link'
                },
            ],
        }
    },
    computed: {
        setting() {
            return this.$store.getters.setting;
        },
        headers() {
            return this.$store.getters.headers;
        },
        header() {
            return this.headers.filter(header => header.page === this.page)[0]
        },
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        }
    }
}
</script>
