<template>
    <nav class="nav" :class="{ 'nav--close': !navOpen, 'nav--open': navOpen }">
        <div class="nav__switcher" @click="toggleNav">
            <span class="nav__line"></span>
            <span class="nav__line"></span>
            <span class="nav__line"></span>
        </div>
        <ul class="nav__list">
            <li class="nav__item" :class="item.itemClassName" v-for="item of navItems">
                <nuxt-link
                    :to="item.link"
                    :class="item.linkClassName"
                    @click="toggleNav"
                    active-class="nav__link--active">
                    {{ item.name }}
                </nuxt-link>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    props: ['navItems'],
    data() {
        return {
            navOpen: false
        }
    },
    methods: {
        toggleNav() {
            this.navOpen = !this.navOpen;
        }
    }
}
</script>
