<template>
    <section class="section cases">
        <div class="cases__header">
            <div class="section__title section__title--small cases__title" data-gsap="split-message">{{ cases.title }}</div>
            <div class="cases__legend">
                <div class="cases__line" data-delay=".25" v-for="line of cases.legend.split('/')">{{ line }}</div>
            </div>
        </div>
        <ul class="cases__list">
            <li class="cases__item cases__item--1" v-for="(industry, index) of industries" :data-delay="index * 0.25">
                <video :src="`${strapiUploadUrl}${industry.video.url}`" muted loop playsinline preload="auto" class="cases__video"></video>
                <img :src="`${strapiUploadUrl}${industry.image.url}`" alt="" class="cases__preview">
                <div class="cases__name">{{ industry.name }}</div>
                <div class="cases__desc">
                    {{ industry.description }}
                </div>
                <nuxt-link :to="`/portfolio#${index + 1}`" class="cases__url"></nuxt-link>
            </li>
            <li class="cases__item cases__item--more">
                <nuxt-link :to="cases.link.url" class="section__link cases__link">{{ cases.link.name }}</nuxt-link>
            </li>
        </ul>
    </section>
</template>

<script>
export default {
    props: ['cases', 'industries'],
    computed: {
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        },
    },
}
</script>
