<template>
    <section class="section partners">
        <ul class="partners__list">
            <li class="partners__item" v-for="partner of partners">
                <a :href="partner.link.url" :target="partner.link.target" class="partners__link">
                    <img :src="`${strapiUploadUrl}${partner.logo.url}`" alt="" class="partners__logo" data-delay=".5">
                </a>
            </li>
            <li class="partners__item partners__item--more">
                <nuxt-link to="/portfolio" class="section__link partners__more">More about Portfolio</nuxt-link>
            </li>
        </ul>
    </section>
</template>

<script>
export default {
    props: ['partners'],
    computed: {
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        },
    },
}
</script>
