<template>
    <div class="page__content">
        <Header page="post" class="header--article"/>
        <article class="section article">
            <header class="article__header">
                <nuxt-link to="/news" class="back__button">
                    <svg class="svg">
                        <use xlink:href="@/assets/images/sprite.svg#arrow"></use>
                    </svg>
                </nuxt-link>
                <h2 class="title__small">{{ data.name }}</h2>
            </header>
            <div class="article__key">
                <img v-if="data.header" :src="`${strapiUploadUrl}${data.header.url}`"
                     alt="Article - ND Group" class="article__img article__img--border">
                <div class="article__key-info">
                    <div class="article__date">{{ formatDateDay(data.date) }}</div>
                    <div class="article__share">
                        <a href="#" class="article__share-item button-hover">
                            <svg class="svg">
                                <use xlink:href="@/assets/images/sprite.svg#facebook"></use>
                            </svg>
                            <span>Facebook</span>
                            <div class="button-hover-transformer" style="top: 14.7031px; left: -6px;"></div>
                        </a>
                        <a href="#" class="article__share-item button-hover">
                            <svg class="svg">
                                <use xlink:href="@/assets/images/sprite.svg#twitter"></use>
                            </svg>
                            <span>Twitter</span>
                            <div class="button-hover-transformer" style="top: 18.7031px; left: -14.7344px;"></div>
                        </a>
                        <a href="#" class="article__share-item button-hover">
                            <svg class="svg">
                                <use xlink:href="@/assets/images/sprite.svg#linkedin"></use>
                            </svg>
                            <span>LinkedIn</span>
                            <div class="button-hover-transformer"></div>
                        </a>
                    </div>
                </div>
            </div>
            <main class="article__main">
                <div class="article-default">
                    <div class="article-left">
                        <h3 class="article-left-text">
                            {{ data.name }}
                        </h3>
                    </div>
                    <div class="article-right">
                        <template v-for="block of JSON.parse(data.content).blocks">
                            <template v-if="block.type === 'header'">
                                <h1 v-if="block.data.level === 1" v-html="block.data.text"></h1>
                                <h2 v-else-if="block.data.level === 2" v-html="block.data.text"></h2>
                                <h3 v-else-if="block.data.level === 3" v-html="block.data.text"></h3>
                                <h4 v-else-if="block.data.level === 4" v-html="block.data.text"></h4>
                                <h5 v-else-if="block.data.level === 5" v-html="block.data.text"></h5>
                            </template>
                            <p class="article-default-text" v-else-if="block.type === 'paragraph'" v-html="block.data.text"></p>
                            <ol v-else-if="block.type === 'list' && block.data.style === 'unordered'">
                                <li v-for="item of block.data.items" v-html="item"></li>
                            </ol>
                            <ul v-else-if="block.type === 'list' && block.data.style === 'ordered'">
                                <li v-for="item of block.data.items" v-html="item"></li>
                            </ul>
                        </template>
                    </div>
                </div>
            </main>
        </article>

        <Footer/>
    </div>
</template>

<script>
export default {
    async asyncData({ $axios, params, error }) {
        try {
            const qs = require('qs');
            const query = qs.stringify({
                populate: [
                    '*', 'header'
                ]
            }, {
                encodeValuesOnly: true,
            });
            const response = await $axios.get(`/posts/${params.slug}?${query}`);
            return {
                data: response.data.data
            }
        } catch (e) {
            error({ statusCode: 404, message: 'Post not found' })
        }
    },
    methods: {
        formatDateDay(date) {
            const options = { year: 'numeric', month: 'long', day: 'numeric' }
            return new Date(date).toLocaleDateString('en-us', options)
        },
    },
    computed: {
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        },
    },
}
</script>
