<template>
    <div class="page__content">
        <Header page="contacts"/>
        <section class="section contacts">
            <div class="contacts__container">
                <div :class="getClass(index)"
                     data-gsap="fadeIn" v-for="(contact, index) of setting.contacts">
                    <div class="contacts__name">{{ contact.name }}</div>
                    <div class="contacts__address">{{ contact.address }}</div>
                    <div class="contacts__relations">
                        <a :href="`tel:${contact.phone}`" class="contacts__link">{{ contact.phone }}</a>
                        <a :href="`mailto:${contact.email}`" class="contacts__link">{{ contact.email }}</a>
                    </div>
                </div>
                <a :href="setting.linkedin" class="contacts__linkedin"
                   data-gsap="fadeIn"></a>
                <div class="contacts__legal" data-gsap="fadeIn">{{ setting.legal }}</div>
            </div>
            <form class="form" @submit.prevent="sendMessage">
                <div class="form__title">Write to us</div>
                <div class="form__group">
                    <input type="text" class="form__input" v-model="form.name" required>
                    <div class="form__placeholder">Your name</div>
                </div>
                <div class="form__group">
                    <input type="text" class="form__input" v-model="form.email" required>
                    <div class="form__placeholder">Email</div>
                </div>
                <div class="form__group">
                    <input type="text" class="form__input" v-model="form.phone" required>
                    <div class="form__placeholder">Phone</div>
                </div>
                <div class="form__group">
                    <textarea required class="form__textarea" v-model="form.message"></textarea>
                    <div class="form__placeholder">Message</div>
                </div>
                <button class="form__submit" type="submit">Send Message</button>
                <div class="form__privacy">
                    By clicking on "Send" button you accept the Privacy Policy and Processing of personal data
                </div>
            </form>
        </section>
        <section class="mapbox" data-gsap="fadeIn">
            <div class="mapbox__canvas" id="mapbox"></div>
            <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet">
        </section>
        <Footer/>
    </div>
</template>

<script>
export default {
    data() {
        return {
            externalLoaded: false,
            form: {
                name: '',
                email: '',
                phone: '',
                message: ''
            }
        }
    },
    head() {
        return {
            bodyAttrs: {
                class: 'page page--contacts'
            },
            title: this.seo?.metaTitle || 'ND Group',
            meta: [
                { hid: 'description', name: 'description', content: this.seo?.metaDescription || '' },
            ],
            script: [
                {
                    hid: 'mapbox',
                    src: 'https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js',
                    callback: () => {
                        this.externalLoaded = true;
                        this.setMapBox()
                    },
                    defer: false,
                },
                {
                    skip: !this.externalLoaded,
                }
            ]
        }
    },
    methods: {
        sendMessage() {
            // this.loading = true;
            this.$axios.$post("messages", {
                data: {
                    name: this.form.name,
                    email: this.form.email,
                    phone: this.form.phone,
                    message: this.form.message,
                }
            }).then(response => {
                console.log(response)
            })
                .catch(error => {
                    console.log(error)
                })
                .finally(() => {
                    // this.loading = false
                });
        },
        getClass(index) {
            return (index === 0) ? 'contacts__company' : 'contacts__press'
        },
        setMapBox() {
            mapboxgl.accessToken = 'pk.eyJ1IjoibmRncm91cCIsImEiOiJja3l1YmlmMjkwNW04MndzMmF2eDNydmFwIn0.3-y4iFhO83S2NdRFKwJQHg';
            var map = new mapboxgl.Map({
                container: 'mapbox',
                style: 'mapbox://styles/ndgroup/ckyubp8n4001m14t8tcef6cfi',
                center: [5.40066358644490, 51.45548178172814],
                zoom: '6'
            });

            map.on('load', () => {
                map.loadImage(
                    require('@/assets/images/marker.png'),
                    (error, image) => {
                        if (error) throw error;
                        map.addImage('mapmarker', image);
                        map.addSource('point', {
                            'type': 'geojson',
                            'data': {
                                'type': 'FeatureCollection',
                                'features': [
                                    {
                                        'type': 'Feature',
                                        'geometry': {
                                            'type': 'Point',
                                            'coordinates': [5.40066358644490, 51.45548178172814]
                                        }
                                    }
                                ]
                            }
                        });

                        map.addLayer({
                            'id': 'points',
                            'type': 'symbol',
                            'source': 'point', // reference the data source
                            'layout': {
                                'icon-image': 'mapmarker', // reference the image
                                'icon-size': 0.39
                            }
                        });
                    }
                );
            });
        }
    },
    computed: {
        setting() {
            return this.$store.getters.setting;
        },
        seo() {
            return this.$store.getters.headers.filter(header => header.page === 'contacts')[0].seo
        },
    },
    mounted() {
        const headerTaglines = document.querySelectorAll('.header__tagline');

        for (let tagline of headerTaglines) {
            let split = new SplitText(tagline, { type: 'chars, words, lines' });
            gsap.from(split.chars, { delay: 1, duration: .5, y: '10%', autoAlpha: 0, stagger: 0.1 });
        }

        const animationItems = document.querySelectorAll('.contacts__company, .contacts__press, .contacts__linkedin, .contacts__legal, .form, .mapbox');

        for (let item of animationItems) {
            gsap.fromTo(item, { autoAlpha: 0, y: '15%' }, {
                duration: .5,
                autoAlpha: 1,
                y: 0,
                scrollTrigger: {
                    trigger: item,
                    start: 'top 90%',
                    once: true
                }
            });
        }
    }


}
</script>
