<template>
    <div class="page__content">
        <HeaderExtend page="index"/>
        <IndexMainAbout :about="about"/>
        <IndexMissions :mission="mission"/>
        <IndexCases :cases="cases" :industries="industries"/>
        <IndexPartners :partners="partners"/>
        <IndexShortNews :posts="posts"/>
        <Footer/>
    </div>
</template>

<script>
export default {
    head() {
        return {
            bodyAttrs: {
                class: 'page page--main page--disabled'
            },
            title: this.seo?.metaTitle || 'ND Group',
            meta: [
                { hid: 'description', name: 'description', content: this.seo?.metaDescription || '' },
            ],
        }
    },
    computed: {
        seo() {
            return this.$store.getters.headers.filter(header => header.page === 'index')[0].seo
        },
    },
    mounted() {
        this.setJS();
    },
    methods: {
        setJS() {

            if (window.innerHeight > window.innerWidth) document.body.classList.add('page--mobile')

            const findOutMore = document.querySelector('.header__find-out-more');

            findOutMore.addEventListener('click', (e) => {
                let headerCircle = document.querySelector('.header__circle');
                let findPoint = document.querySelector('.header__point');
                let recPoint = findPoint.getBoundingClientRect();
                headerCircle.style.left = `${recPoint.x + recPoint.width / 2}px`;
                headerCircle.style.top = `${recPoint.y + recPoint.height / 2}px`;
                document.querySelector('.header').classList.add('header--animation');
                setTimeout(() => {
                    page.classList.remove('page--disabled');
                    window.scrollTo({
                        top: document.querySelector('.header').offsetHeight,
                        behavior: "smooth"
                    });
                }, 600)
                setTimeout(() => {
                    headerCircle.classList.add('header__circle--hidden');
                }, 1500)
            }, { once: true });

            window.addEventListener('scroll', headerScrollEvent);

            function headerScrollEvent() {
                let headerCircle = document.querySelector('.header__circle');
                document.querySelector('.header').classList.add('header--animation');
                if(headerCircle) headerCircle.classList.add('header__circle--mouse');
                window.removeEventListener('mousemove', headerMouseMove);
                window.removeEventListener('scroll', headerScrollEvent);
                setTimeout(() => {
                    page.classList.remove('page--disabled');
                    window.scrollTo({
                        top: document.querySelector('.header').offsetHeight,
                        behavior: "smooth"
                    });
                }, 600)
                setTimeout(() => {
                    if(headerCircle) headerCircle.classList.add('header__circle--hidden');
                }, 1500)
            }

            window.addEventListener('mousemove', headerMouseMove);

            function headerMouseMove(e) {
                let headerCircle = document.querySelector('.header__circle');
                headerCircle.style.left = `${e.clientX}px`;
                headerCircle.style.top = `${e.clientY}px`;
            }

            function headerTaglineInit() {
                let headerTaglines = document.querySelectorAll('.header__tagline');
                for (let tagline of headerTaglines) {
                    gsap.from(SplitText.create(tagline, { type: "words,chars" }).chars, {
                        delay: 3,
                        duration: 1,
                        opacity: 0,
                        y: 80,
                        ease: 'power3',
                        stagger: .1
                    })
                }
            }

            headerTaglineInit();

            const casesItems = document.querySelectorAll('.cases__item');

            for (let item of casesItems) {
                item.addEventListener('mouseenter', () => {
                    item.querySelector('.cases__video').play();
                });

                item.addEventListener('mouseleave', () => {
                    item.querySelector('.cases__video').pause();
                });
            }

            let missionsList = document.querySelector('.missions__list');
            let missionsProgress = document.querySelector('.missions__value');
            let newsList = document.querySelector('.short-news__list');


            ScrollTrigger.matchMedia({
                '(max-width: 767px)': () => {
                    gsap.to(missionsList, {
                        x: () => -(missionsList.offsetWidth + document.documentElement.clientWidth) + "px",
                        ease: "none",
                        scrollTrigger: {
                            trigger: '.missions__wrapper',
                            pin: true,
                            start: 'bottom bottom',
                            pinSpacing: true,
                            scrub: 1,
                            onUpdate: (e) => {
                                let index = getIndex(e.progress);
                                addClass(index);
                                missionsProgress.style.width = `${e.progress * 100}%`;
                            },
                            onRefreshInit: () => {
                                addClass(0);
                            },
                            end: () => "+=" + missionsList.offsetWidth * 2,
                        },
                    })
                },
                '(min-width: 768px) and (max-width: 1199px)': () => {
                    gsap.to(missionsList, {
                        x: () => -(missionsList.offsetWidth + document.documentElement.clientWidth) + "px",
                        ease: "none",
                        scrollTrigger: {
                            trigger: missionsList,
                            pin: '.page__content',
                            start: 'bottom bottom',
                            pinSpacing: false,
                            scrub: 1,
                            onUpdate: (e) => {
                                let index = getIndex(e.progress);
                                addClass(index);
                                missionsProgress.style.width = `${e.progress * 100}%`;
                            },
                            onRefreshInit: () => {
                                addClass(0);
                            },
                            end: () => "+=" + missionsList.offsetWidth,
                        },
                    })
                },
                '(min-width: 1200px)': () => {
                    gsap.to(missionsList, {
                        ease: "sine.out",
                        scrollTrigger: {
                            pin: true,
                            toggleActions: "restart pause resume pause",
                            trigger: '.missions',
                            start: 'bottom bottom',
                            scrub: 1,
                            pinSpacing: true,
                            onUpdate: (e) => {
                                let index = getIndex(e.progress);
                                addClass(index)
                                missionsProgress.style.width = `${e.progress * 100}%`;
                            },
                            onRefreshInit: () => {
                                addClass(0);
                            },
                            end: () => "+=" + missionsList.offsetWidth * 2,
                        },
                    })
                },
            });

            ScrollTrigger.matchMedia({
                '(max-width: 767px)': () => {
                    gsap.to(newsList, {
                        x: () => -(newsList.scrollWidth - document.documentElement.clientWidth) - 40 + "px",
                        ease: "none",
                        scrollTrigger: {
                            trigger: '.short-news',
                            pin: true,
                            anticipatePin: 1,
                            scrub: .1,
                            pinSpacing: true,
                            start: `bottom bottom`,
                            end: () => "+=" + newsList.offsetWidth,
                        }
                    });
                },
                '(min-width: 768px) and (max-width: 1199px)': () => {
                    gsap.to(newsList, {
                        x: () => -(newsList.scrollWidth - document.documentElement.clientWidth) - 64 + "px",
                        ease: "none",
                        scrollTrigger: {
                            trigger: newsList,

                            pin: '.page__content',
                            anticipatePin: 1,
                            scrub: .1,
                            start: `top -${missionsList.offsetWidth - 245}px`,
                            end: () => "+=" + newsList.offsetWidth,
                        }
                    });
                },
                '(min-width: 1200px)': () => {
                    gsap.to(newsList, {
                        x: () => -(missionsList.offsetWidth / 2 + document.documentElement.clientWidth / 2) + "px",
                        ease: "none",
                        scrollTrigger: {
                            trigger: '.short-news',
                            pin: true,
                            scrub: 1,
                            pinSpacing: true,
                            start: 'bottom bottom',
                            end: () => "+=" + newsList.offsetWidth,
                        }
                    });
                },
            });

            function getIndex(progress) {
                let index;
                if (progress < 1 / 3) index = 0;
                else if (progress > 1 / 3 && progress < 1 - 1 / 3) index = 1;
                else index = 2;
                return index;
            }

            function addClass(index) {
                if(document.body.classList.contains('page--main')) {
                    document.querySelectorAll('.missions__current')[index].innerHTML = index + 1;
                    let activeMissions = document.querySelector('.missions__item--active');
                    if (activeMissions) activeMissions.classList.remove('missions__item--active');
                    document.querySelectorAll('.missions__item')[index].classList.add('missions__item--active');
                }
            }

            const animationItems = document.querySelectorAll('.main-about__message, .main-about__desc, .main-about__link, .missions__title, .missions__progress, .missions__list, .cases__line, .partners__logo, .partners__more, .short-news__item, .short-news__more');

            for (let item of animationItems) {
                gsap.fromTo(item, { autoAlpha: 0, y: '15%' }, {
                    delay: item.dataset.delay || 0,
                    duration: .5,
                    autoAlpha: 1,
                    y: 0,
                    stagger: '.5',
                    scrollTrigger: {
                        trigger: item,
                        start: 'top 90%',
                        once: true
                    }
                });
            }

            for (let item of casesItems) {
                gsap.fromTo(item, { autoAlpha: 0, y: '15%' }, {
                    delay: (window.innerWidth > 768) ? item.dataset.delay || 0 : 0,
                    duration: .5,
                    autoAlpha: 1,
                    y: 0,
                    stagger: '.5',
                    scrollTrigger: {
                        trigger: item,
                        start: 'top 90%',
                        once: true
                    }
                });
            }


        }
    },
    async asyncData({ $axios }) {
        const qs = require('qs');
        try {
            const about = await $axios.get(`/index-about/`);
            const casesQuery = qs.stringify({
                populate: [
                    'link'
                ]
            }, {
                encodeValuesOnly: true,
            });
            const cases = await $axios.get(`/case/?${casesQuery}`);
            const missionQuery = qs.stringify({
                populate: [
                    'list', 'list.image'
                ]
            }, {
                encodeValuesOnly: true,
            });
            const mission = await $axios.get(`/mission/?${missionQuery}`);
            const industriesQuery = qs.stringify({
                filters: {
                    showOnIndex: true
                },
                sort: {
                    'sort': 'asc'
                },
                populate: [
                    'image', 'video'
                ]
            }, {
                encodeValuesOnly: true,
            });
            const industries = await $axios.get(`/industries/?${industriesQuery}`);
            const partnersQuery = qs.stringify({
                sort: {
                    'sort': 'asc'
                },
                populate: [
                    'logo', 'link', 'link.image'
                ]
            }, {
                encodeValuesOnly: true,
            });
            const partners = await $axios.get(`/partners/?${partnersQuery}`);
            const postsQuery = qs.stringify({
                sort: {
                    'date': 'desc'
                },
                populate: [
                    'short', 'link'
                ]
            }, {
                encodeValuesOnly: true,
            });
            const posts = await $axios.get(`/posts/?${postsQuery}`);
            return {
                about: about.data.data,
                cases: cases.data.data,
                mission: mission.data.data,
                industries: industries.data.data,
                partners: partners.data.data,
                posts: posts.data.data,
            }
        } catch (e) {
            console.log(e);
        }
    },
}
</script>
