<template>
    <div class="page__content">
        <Header page="portfolio"/>
        <section class="section portfolio-message">
            <div class="portfolio-message__content">{{ portfolio.message }}</div>
        </section>
        <section class="section approach">
            <div class="approach__title">{{ approach.title }}</div>
            <div class="approach__label">{{ approach.label }}</div>
            <ul class="approach__list">
                <li class="approach__item" v-for="item of approach.list">
                    <img :src="`${strapiUploadUrl}${item.image.url}`" alt="" class="approach__img">
                    <div class="approach__text">{{ item.name }}</div>
                </li>
            </ul>
        </section>
        <Companies :industries="industries" :portfolio="portfolio"/>
        <Footer/>
    </div>
</template>

<script>
export default {
    head() {
        return {
            bodyAttrs: {
                class: 'page page--portfolio'
            },
            title: this.seo?.metaTitle || 'ND Group',
            meta: [
                { hid: 'description', name: 'description', content: this.seo?.metaDescription || '' },
            ],
            script: [
                {
                    hid: 'swiper',
                    src: 'https://unpkg.com/swiper@8/swiper-bundle.min.js',
                    callback: () => {
                        this.externalLoaded = true;
                        this.setSwiper();
                    },
                },
                {
                    skip: !this.externalLoaded,
                },
            ],
        }
    },
    data() {
        return {
            externalLoaded: false
        }
    },
    methods: {
        setSwiper() {

            let onSlider = false;

            const companiesSelect = document.querySelectorAll('.companies__select');

            for (let select of companiesSelect) {
                select.addEventListener('click', () => {
                    select.classList.toggle('companies__select--active');
                });
            }

            let firstSlide = true;
            let lastSlide = false;
            let canBeScrolled = true;
            let scrollDirection;
            let prevScrollPos = 0;
            let companiesBlock = document.querySelector('.companies__container');
            let footerBlock = document.querySelector('.footer');

            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                let lastY;
                let scrollTimeoutMobile;

                window.addEventListener('scroll', (e) => {
                    if (canBeScrolled) {
                        if ((scrollY + 20 >= getElementOffset(companiesBlock).top - window.innerHeight)
                            && !onSlider
                            && !lastSlide
                            && scrollY > lastY || scrollY < lastY && !onSlider && lastSlide) {
                            canBeScrolled = false;
                            window.scrollTo({
                                top: getElementOffset(companiesBlock).top,
                                behavior: 'smooth'
                            });
                        } else if (
                            scrollY + window.innerHeight >= getElementOffset(footerBlock).top
                            && !onSlider
                            && scrollY > lastY
                            && lastSlide) {
                            canBeScrolled = false;
                            window.scrollTo({
                                top: getElementOffset(footerBlock).top,
                                behavior: 'smooth'
                            });
                        }
                        clearTimeout(scrollTimeoutMobile);
                        scrollTimeoutMobile = setTimeout(() => {
                            canBeScrolled = true;
                        }, 500)
                    }
                    lastY = scrollY <= 0 ? 0 : scrollY;
                })

            }

            window.addEventListener('wheel', () => {
                if ((scrollY + window.innerHeight > getElementOffset(companiesBlock).top)) {
                    scroll(getElementOffset(companiesBlock).top);
                }
            });

            companiesBlock.addEventListener('wheel', (e) => {
                if (e.deltaY > 0 && swiper.activeIndex === swiper.slides.length - 1) {
                    if (lastSlide) scroll(getElementOffset(footerBlock).top);
                } else if (e.deltaY < 0 && swiper.activeIndex === swiper.slides.length - 1) {
                    scroll(getElementOffset(companiesBlock).top);
                } else if (e.deltaY < 0 && swiper.activeIndex === 0) {
                    if (firstSlide) scroll(getElementOffset(companiesBlock).top - window.innerHeight);
                }
            });

            function getElementOffset(el) {
                const rect = el.getBoundingClientRect();

                return {
                    top: rect.top + window.scrollY,
                    left: rect.left + window.scrollX,
                };
            }

            function scroll(top) {
                if (canBeScrolled) {
                    canBeScrolled = false;
                    window.scrollTo({
                        top: top,
                        behavior: 'smooth'
                    });
                    setTimeout(() => {
                        canBeScrolled = true;
                    }, 1000)
                }
            }

            let scrollTimeout;

            function scrollMobile(block) {
                clearTimeout(scrollTimeout);
                scrollTimeout = setTimeout(() => {
                    block.scrollIntoView({
                        behavior: 'smooth'
                    });
                }, 100);
            }

            let swiper = new Swiper('.swiper-container', {
                direction: 'vertical',
                sliderPerView: 1,
                spaceBetween: 0,
                initialSlide: 0,
                mousewheel: true,
                speed: 1000,
                navigation: {
                    nextEl: '.companies__button--down',
                    prevEl: '.companies__button--up',
                },
                slideActiveClass: 'companies__item--active',
                on: {
                    slideChange: (e) => {
                        companiesBlock.setAttribute('data-companies', e.activeIndex);
                        addClassAnchor(e.activeIndex);
                    },
                    slideChangeTransitionStart: () => {
                        window.scrollTo({
                            top: getElementOffset(companiesBlock).top,
                            behavior: 'smooth'
                        });
                    },
                    touchStart: () => {
                        onSlider = true;
                    },
                    touchEnd: (e) => {
                        if (e.isEnd && e.swipeDirection === 'next') {
                            window.scrollTo({
                                top: getElementOffset(footerBlock).top,
                                behavior: 'smooth'
                            });
                            setTimeout(() => {
                                onSlider = false;
                            }, 1500)
                        }
                        if (e.isBeginning && e.swipeDirection === 'prev') {
                            window.scrollTo({
                                top: getElementOffset(companiesBlock).top - window.innerHeight,
                                behavior: 'smooth'
                            });
                            setTimeout(() => {
                                onSlider = false;
                            }, 1500)
                        }
                    },
                    slideChangeTransitionEnd: (e) => {
                        lastSlide = e.activeIndex === swiper.slides.length - 1;
                        firstSlide = e.activeIndex === 0;
                    }
                }
            })

            if (location.hash) {
                let index = location.hash.replace('#', '');
                window.scrollTo({
                    top: getElementOffset(companiesBlock).top,
                    behavior: 'smooth'
                });
                swiper.slideTo(index - 1);
                addClassAnchor(index - 1);
            } else addClassAnchor(0);

            const companiesAnchors = document.querySelectorAll('.companies__anchor');

            for (let anchor of companiesAnchors) {
                anchor.addEventListener('click', (e) => {
                    addClassAnchor(anchor.getAttribute('data-slide'));
                    swiper.slideTo(anchor.getAttribute('data-slide'));
                });
            }

            function addClassAnchor(index) {
                let activeAnchors = document.querySelectorAll('.companies__anchor--active');
                if (activeAnchors) {
                    for (let active of activeAnchors) {
                        active.classList.remove('companies__anchor--active');
                    }
                }
                let anchors = document.querySelectorAll(`[data-slide="${index}"]`);
                for (let anchor of anchors) {
                    anchor.classList.add('companies__anchor--active');
                }

            }
        }
    },
    computed: {
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        },
        seo() {
            return this.$store.getters.headers.filter(header => header.page === 'portfolio')[0].seo
        },
    },
    async asyncData({ $axios }) {
        const qs = require('qs');
        const portfolio = await $axios.get(`/portfolio/`);
        const approachQuery = qs.stringify({
            populate: [
                'list', 'list.image'
            ]
        }, {
            encodeValuesOnly: true,
        });
        const approach = await $axios.get(`/approach/?${approachQuery}`);
        const industriesQuery = qs.stringify({
            filters: {
                showOnPortfolio: true
            },
            sort: {
                'sort': 'asc'
            },
            populate: [
                'video', 'partner', 'partner.logo', 'partner.link', 'partner.description'
            ]
        }, {
            encodeValuesOnly: true,
        });
        const industries = await $axios.get(`/industries/?${industriesQuery}`);
        return {
            portfolio: portfolio.data.data,
            approach: approach.data.data,
            industries: industries.data.data
        }

    },
    mounted() {

        const headerTaglines = document.querySelectorAll('.header__tagline');

        for (let tagline of headerTaglines) {
            let split = new SplitText(tagline, { type: 'chars, words, lines' });
            gsap.from(split.chars, { delay: 1, duration: .5, y: '10%', autoAlpha: 0, stagger: 0.1 });
        }

        const animationItems = document.querySelectorAll('.portfolio-message__content, .approach__title, .approach__label, .approach__item, .companies__label');

        for (let item of animationItems) {
            gsap.fromTo(item, { autoAlpha: 0, y: '15%' }, {
                delay: item.dataset.delay || 0,
                duration: .5,
                autoAlpha: 1,
                y: 0,
                scrollTrigger: {
                    trigger: item,
                    start: 'top 90%',
                    once: true
                }
            });
        }

    }
}
</script>
